$blue_egerie: #274058;
$orange_egerie: #e94e1b;
$white_egerie: #fff;
$success_egerie: #198754;
$error_egerie: #FFBABB;
$field_egerie : #f5f5f5;
.select-widget{
  .select{
    display: flex;
    align-items: center;
    background-color: $orange_egerie;
    color: $field_egerie;
    border-radius: 0.5em;
    svg, label, [aria-haspopup="listbox"], .MuiChip-label{
      color: $field_egerie;
    }
    label{
      text-shadow: black 0.1em 0.1em 0.2em;
    }
  }
}