$blue_egerie: #274058;
$orange_egerie: #e94e1b;
$white_egerie: #fff;
$success_egerie: #198754;
$error_egerie: #FFBABB;
$field_egerie : #f5f5f5;
.sv-question{
  overflow: inherit;
}
.icons{
  border-left: 1px solid $field_egerie;
  display: flex;
  align-items: center;
  padding: 0.5em;
  .icon-question{
    color: $field_egerie;
    padding: 0 0.5em;
  }
}
.popper{
  color: $blue_egerie;
  text-align: center;
  .h5{
    display: block;
    font-style: inherit;
    font-weight: bolder;
    font-size: 0.9em;
    margin-bottom: 0.5em;
    dfn{
      color: $orange_egerie;
      font-weight: 600;
    }
  }
  .text{
    font-size: 0.8em;
    font-style: italic;
  }
}
